@import "tailwindcss";

@utility center-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

@utility globe-wrapper {
  width: 6rem;
  aspect-ratio: 1;
}

@utility globe {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-image: url('earth.jpg');
  background-repeat: repeat-x;
  background-sizE: 10rem auto;
  box-shadow: inset 0 0 1rem #888, 0 0 1rem #888;
  animation: globe-animate 10s infinite linear;
}

/* to animate the globe */
@keyframes globe-animate {
  0% {
    background-position: 0 center;
  }

  100% {
    background-position: 1000% center;
  }
}